<a href="https://colab.research.google.com/github/sofiane1010/SIC_checkpoints/blob/main/exercises/2_Pandas_Series_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Pandas Series exercises

In [ ]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.1.5



## Series creation

### Create an empty pandas Series

In [ ]:
s = pd.Series([],dtype=int)
s

Series([], dtype: int64)



### Given the X python list convert it to an Y pandas Series

In [ ]:
X = ["red", "blue", "yellow"]
Y = pd.Series(colors)
Y

0       red
1      blue
2    yellow
dtype: object



### Given the X pandas Series, name it 'My letters'

In [ ]:
name_ = "my letters"

# Renaming an existing series
X = pd.Series(list("ABCDEF"))
X.name = name_
print(X)
print("")

# Setting the series name on creation
X = pd.Series(list("ABCDEF"), name=name_)
print(X)

0    A
1    B
2    C
3    D
4    E
5    F
Name: my letters, dtype: object

0    A
1    B
2    C
3    D
4    E
5    F
Name: my letters, dtype: object



### Given the X pandas Series, show its values

In [ ]:
X.value_counts()

D    1
B    1
F    1
E    1
A    1
C    1
Name: my letters, dtype: int64



## Series indexation

### Assign index names to the given X pandas Series

In [ ]:
index_ = ["letter_one", "letter_two", "letter_three", "letter_four", "letter_five", "letter_six"]

#changin the index of an existing series
X.index = index_
print(X)
print(" ")

# Setting the series name on creation
X = pd.Series(list("ABCDEF"), index=index_)
print(X)

letter_one      A
letter_two      B
letter_three    C
letter_four     D
letter_five     E
letter_six      F
Name: my letters, dtype: object

letter_one      A
letter_two      B
letter_three    C
letter_four     D
letter_five     E
letter_six      F
dtype: object

[link text](https://)

### Given the X pandas Series, show its first element

In [ ]:
X[0]

'A'



### Given the X pandas Series, show its last element

In [ ]:
X[-1]

'F'



### Given the X pandas Series, show all middle elements

In [ ]:
Y = pd.Series(list("ABCDEFG"))

print("If middle elmements means all elements except the first and last one")
print(X[1:-1])
print(" ")


def middle_el(s):
    l = len(s)
    if l%2: return s[int(l/2)]
    return s[int(l/2)-1:int(l/2)+1]

print("If middle elements means the center of the series:")
print(" ")
print("series with even length:")
print(middle_el(X))
print(" ")
print("series with odd length:")
print(middle_el(Y))

If middle elmements means all elements except the first and last one
letter_two      B
letter_three    C
letter_four     D
letter_five     E
dtype: object

If middle elements means the center of the series:

series with even length:
letter_three    C
letter_four     D
dtype: object

series with odd length:
D



### Given the X pandas Series, show the elements in reverse position

In [ ]:
X[::-1]

letter_six      F
letter_five     E
letter_four     D
letter_three    C
letter_two      B
letter_one      A
dtype: object



### Given the X pandas Series, show the first and last elements

In [ ]:
print("first", X[0])
print("last", X.iloc[-1])

first A
last F



## Series manipulation

### Convert the given integer pandas Series to float

In [ ]:
X = pd.Series([1,2,3,4,0,5,3,7], dtype=int)
X = X.astype(float)
X

0    1.0
1    2.0
2    3.0
3    4.0
4    0.0
5    5.0
6    3.0
7    7.0
dtype: float64



### Reverse the given pandas Series (first element becomes last)

In [ ]:
X[::-1]

7    7.0
6    3.0
5    5.0
4    0.0
3    4.0
2    3.0
1    2.0
0    1.0
dtype: float64



### Order (sort) the given pandas Series

In [ ]:
 sorted_X = X.sort_values(ascending=True)

print(X)
print('')
print(sorted_X)

0    1.0
1    2.0
2    3.0
3    4.0
4    0.0
5    5.0
6    3.0
7    7.0
dtype: float64

4    0.0
0    1.0
1    2.0
2    3.0
6    3.0
3    4.0
5    5.0
7    7.0
dtype: float64



### Given the X pandas Series, set the fifth element equal to 10

In [ ]:
print(X)
X[4] = 10
print(X)

0    1.0
1    2.0
2    3.0
3    4.0
4    0.0
5    5.0
6    3.0
7    7.0
dtype: float64
0     1.0
1     2.0
2     3.0
3     4.0
4    10.0
5     5.0
6     3.0
7     7.0
dtype: float64



### Given the X pandas Series, change all the middle elements to 0

In [ ]:
# even length series
num_list = np.random.randint(5, 15, size=8)
X = pd.Series(num_list)

# odd length series
num_list_ = np.random.randint(5, 15, size=7)
X_ = pd.Series(num_list_)

def set_middle_el(s, val):
    l = len(s)
    if l%2: 
        print(f"****the middle element is in position {int(l/2)}****")
        s[int(l/2)] = val
    else: 
        print(f"****middle elements are in position {int(l/2)-1} and {int(l/2)}****")
        s[int(l/2)-1:int(l/2)+1] = val

print("initial series of even length:")
print(X)
set_middle_el(X, 0)
print("updated series of even length:")
print(X)

print(" ")


print("initial series of odd length:")
print(X_)
set_middle_el(X_, 0)
print("updated series of odd length:")
print(X_)

initial series of even length:
0     7
1     7
2     8
3    10
4    14
5    10
6    12
7     8
dtype: int64
****middle elements are in position 3 and 4****
updated series of even length:
0     7
1     7
2     8
3     0
4     0
5    10
6    12
7     8
dtype: int64

initial series of odd length:
0     8
1     8
2    13
3    12
4     8
5     8
6    12
dtype: int64
****the middle element is in position 3****
updated series of odd length:
0     8
1     8
2    13
3     0
4     8
5     8
6    12
dtype: int64



### Given the X pandas Series, add 5 to every element

In [ ]:
print("initial series:")
print(X)
print("updated series:")
print(X+5)

initial series:
0     7
1     7
2     8
3     0
4     0
5    10
6    12
7     8
dtype: int64
updated series:
0    12
1    12
2    13
3     5
4     5
5    15
6    17
7    13
dtype: int64



## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [ ]:
def get_neg_el(s):
    return s[s<0]

In [ ]:
num_list = np.random.randint(-15, 15, size=8)
X = pd.Series(num_list)
print("initial series:")
print(X)
print("updated series:")
print(get_neg_el(X))

initial series:
0     8
1   -12
2    11
3   -14
4   -15
5    -7
6    -9
7     5
dtype: int64
updated series:
1   -12
3   -14
4   -15
5    -7
6    -9
dtype: int64



### Given the X pandas Series, get the negative elements

In [ ]:
print("initial series:")
print(X)
print("updated series:")
print(get_neg_el(X))

initial series:
0     8
1   -12
2    11
3   -14
4   -15
5    -7
6    -9
7     5
dtype: int64
updated series:
1   -12
3   -14
4   -15
5    -7
6    -9
dtype: int64



### Given the X pandas Series, get numbers higher than 5

In [ ]:
def get_higher(series, val):
  return series[series > series.mean()] if val=='mean' else series[series > val]

In [ ]:
print(X)
print(get_higher(X,5))

0     8
1   -12
2    11
3   -14
4   -15
5    -7
6    -9
7     5
dtype: int64
0     8
2    11
dtype: int64



### Given the X pandas Series, get numbers higher than the elements mean

In [ ]:
print(X)
print("mean value is:", X.mean())
print(get_higher(X, 'mean'))

0     8
1   -12
2    11
3   -14
4   -15
5    -7
6    -9
7     5
dtype: int64
mean value is: -4.125
0     8
2    11
7     5
dtype: int64



### Given the X pandas Series, get numbers equal to 2 or 10

In [ ]:
# your code goes here
num_list = [3,6,3,1,2,8,10,2,10,6]
X = pd.Series(num_list)

print(X)
print(X[(X==2) | (X==10)])

0     3
1     6
2     3
3     1
4     2
5     8
6    10
7     2
8    10
9     6
dtype: int64
4     2
6    10
7     2
8    10
dtype: int64



## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [ ]:
# all
num_list = np.random.randint(-10,10,size=10)
X = pd.Series(num_list)
print(X)
print("OUTPUT:",all(X != 0))

0    -4
1     6
2     7
3    -5
4     0
5    -7
6     6
7     5
8   -10
9     4
dtype: int64
OUTPUT: False



### Given the X pandas Series, return True if any of its elements is zero

In [ ]:
# any
num_list = np.random.randint(-10,10,size=10)
X = pd.Series(num_list)
print(X)
print("OUTPUT:",any(X == 0))

0    1
1    2
2   -8
3    1
4   -5
5    4
6   -5
7    3
8    0
9   -2
dtype: int64
OUTPUT: True



## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [ ]:
def stats(series, operation):
    if operation == 'sum': return series.sum()
    if operation == 'mean': return series.mean()
    if operation == 'max': return series.max()
    return

In [ ]:
# sum
num_list = np.random.randint(-10,10,size=4)
X = pd.Series(num_list)
print(X)
print('sum:', stats(X, 'sum'))

0    2
1   -9
2   -6
3    9
dtype: int64
sum: -4



### Given the X pandas Series, show the mean value of its elements

In [ ]:
# mean
print(X)
print("mean:",stats(X, 'mean'))

0    2
1   -9
2   -6
3    9
dtype: int64
mean: -1.0



### Given the X pandas Series, show the max value of its elements

In [ ]:
# max
print(X)
print("OUTPUT:",stats(X, 'max'))

0    2
1   -9
2   -6
3    9
dtype: int64
OUTPUT: 9